
<div class="container">

	<div class="form-signin">

		<h2 class="form-signin-heading">Login</h2>
		<br/>

		{{#if error}}
			<div class="alert alert-danger">{{error}}</div>
		{{/if}}

		<form role="form" method="POST" action="/login">
		  <div class="form-group">
		    <label for="username">Username</label>
		    <input type="input" class="form-control" name="username" id="username" value="{{username}}">
		  </div>
		  <div class="form-group">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" name="password" id="password" value="{{password}}">
		  </div>
		  <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
		</form>

		<br/>
		<br/>

		<h3 class="form-signin-heading">Test Accounts</h3>

		<table class="table">
			<tr>
				<th>Username</th>
				<th>Password</th>
			</tr>
			{{#each testlogins}}
			<tr>
				<td>{{username}}</td>
				<td>{{password}}</td>
			</tr>
			{{/each}}
		</table>

	</div>

</div>